<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
  <div class='center'>
    <div class='title'>xray covid 19 <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fpngimage.net%2Fred-fruits-png%2F&psig=AOvVaw2OqNPQAEDPX29CML3W9UrV&ust=1588131434273000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCNiUpuCYiukCFQAAAAAdAAAAABAD" height="30px" style="display:inline" /></div>
    <p>
      Use images of <strong style='color:red'>Apple</strong><img src="https://purepng.com/public/uploads/large/purepng.com-red-appleappleapplesfruitsweet-1701527180174lrnig.png" height="30px" style="display:inline" />,
      <strong style='color:pink'>cherry</strong><img src="https://freepngimg.com/thumb/cherry/21-red-cherry-png-image-download.png" height="30px" style="display:inline" />,
      <strong style='color:orange' >strawberry</strong><img src="https://cdn.pixabay.com/photo/2019/05/28/15/21/strawberry-4235378_960_720.png" height="30px" style="display:inline" />, or
      all three!
    </p>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
    </div>
  </div>
</div>
</body>
</html>
