<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
  <div class='center'>
    <div class='title'>Pneumonia Detection <img src="https://prod-images-static.radiopaedia.org/images/25074603/4994014ef5c834e4803541aa1dc874_jumbo.jpeg" height="30px" style="display:inline" /></div>
    <p>
      Submit <Strong>chest X-ray images </strong> so we could analize if you have, or have not, <strong>Pneumonia </strong> 
      and if you do have it, we will tell you the probable cause of your disseas. Here, we analize <Strong> Stress-Smoking </strong>,
      <Strong> Stress-Smoking </strong>, <Strong> COVID-19 </strong>, <Strong> SARS </strong>, <Strong> Streptococcus</strong> or other 
      <Strong> Virus</strong> or <Strong> Bacteria </strong>
    </p>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
    </div>
  </div>
</div>
</body>
</html>
