body {
    background-color: #1B1919;
}

.no-display {
    display: none;
}

.center {
    /* Espaciado desde el objeto hacia afuera */
    margin: auto;
    /* espacio del recuadro hacia adentro (vertical horizontal)*/
    padding: 10px 50px;
    text-align: center;
    font-size: 14px;
}

.title {
    font-size: 30px;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #F1EFFA;
}

.content {
    margin-top: 10em;
}

.analyze {
    margin-top: 5em;
}

.upload-label {
    padding: 10px;
    font-size: 12px;
}

.result-label {
    margin-top: 0.5em;
    padding: 10px;
    font-size: 13px;
}

button.choose-file-button {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    background-color: #ffffff;
    border: solid 1px #FF3922;
    font-size: 13px;
    color: #3300FF;
}

button.analyze-button {
    width: 200px;
    height: 40px;
    border: solid 1px #7052CB;
    border-radius: 2px;
    background-color: #3300FF;
    font-size: 13px;
    color: #ffffff;
}

button:focus {
    outline: 0;
}

button:hover {
    box-shadow: 1px 1px 10px  #888;
}
